<div id="props-page-wrapper">
  <% @props.each do |prop| %>
    <div class="index-prop">
      <h3><%= prop.title %></h3><hr>
      <span class="prop-attr-desc"><%= prop.description %></span>
      <span class="prop-attr" id="odds">Odds: <%= prop.odds %></span>

      <% if is_logged_in? && current_user.is_admin%>
        <div class="btn-wrap">
          <div class="index-btn">
            <button><a id="view-btn" href="/props/<%= prop.id %>">View</a>
          </div>
          <div class="index-btn">
            <button><a id="edit-btn" href="/props/<%= prop.id %>/edit">Edit</a></button>
          </div>
          <div><button type="button"><a href="/props/<%= prop.id %>/add">Add Prop to Pending</a></button></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
