<div id="props-page-wrapper">
    <% @props.each do |prop| %>
    <div class="index-prop">
      <h3 class="prop-title"><%= prop.title %></h3><hr>
      <p class="prop-attr"><%= prop.description %></p>
      <p class="prop-attr" id="odds"><%= prop.odds %></p>

      <div class="btn-wrap">
        <div class="index-btn" id="view-btn">
          <button><a class="btn" href="/props/<%= prop.id %>">View</a>
        </div>

        <% if Helpers.is_logged_in?(session) && Helpers.current_user(session).is_admin?%>
          <div class="index-btn" id="edit-btn">
            <button><a class="btn" href="/props/<%= prop.id %>/edit">Edit</a></button>
          </div>
        <% end %>
      </div>

    </div>
    <% end %>

</div>
