<div id="props-page-wrapper">
  <% @props.each do |prop| %>
    <div class="index-prop">
      <h3><%= prop.title %></h3><hr>
      <span class="prop-attr-desc"><%= prop.description %></span>
      <span class="prop-attr" id="odds">Odds: <%= prop.odds %></span>

      <div class="btn-wrap">
        <div class="index-btn">
          <button><a id="view-btn" href="/props/<%= prop.id %>">View</a>
        </div>
      <% if Helpers.is_logged_in?(session) && Helpers.current_user(session).is_admin%>
        <div class="index-btn">
          <button><a id="edit-btn" href="/props/<%= prop.id %>/edit">Edit</a></button>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>

</div>
