<div class="show-betting-slip-wrapper">

  <div class="show-slip">
    <h3><%= @slip.name %></h3>
    <p><%= @slip.description %></p>
  </div>

    <% if !current_user.pending_picks.empty? %>
    <div class="delete-btn-wrapper">
      <div class="add-btn">
        <form action="/betting-slips/<%= @slip.id %>/add-picks" method="post">
          <input type="submit" value="Add Picks to List">
        </form>
      </div>
    </div>
    <% end %>

  <div style="text-align: center;" class="delete-btn">
    <div>
      <form action="/betting-slips/<%= @slip.id %>/delete" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <div><input type="submit" value="Delete Slip"></div>
      </form>
    </div>
  </div>
  <hr>

<% if @slip.props %>
    <% @props.each do |prop| %>
      <div><%= prop.title %></div>
      <div><%= prop.description %></li></div>
      <div><%= prop.odds %></div><br>
    <% end %>
<% end %>
</div>
